{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

  <div class="jumbotron p-5 text-white rounded bg-info" style="height:560px ">
    <div class="col-md-6 px-0" style="margin:95px">
      <h1 class="display-4 " style="font-size:90px">About Us!</h1>
      <p class="lead my-3" style="">We understand that your journey is unique, and we are here to support you every step of the way. Whether it's a short business trip or a family vacation, we aim to provide the best car rental experience possible.Join the millions of satisfied customers who have chosen our Car rental system for their car rental needs. We look forward to being a part of your next adventure.</p>
      {% comment %} <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> {% endcomment %}
      
    </div>
  </div>

{% endblock body %}